* {
    padding: 0px;
    margin: 0px; /*normalizar margenes*/
    box-sizing: border-box; /*propiedad q sirve para que las medidas lleguen hasta el borde*/
}

a {
    background-color: pink;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(252, 131, 131);
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 190px;
    border: 5px solid pink
}
.page-galeria {
    background-color: rgb(255, 118, 140);
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 95, 95);
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 190px;
    border: 5px solid rgb(255, 142, 161)
}
a:hover {
    background-color: rgb(252, 131, 131);
    color: black;
    font-weight: 1200;
    font-weight: bolder;
    border: 10px solid pink
}
.page-galeria:hover {
    background-color: rgb(255, 95, 95);
    color: black;
    font-weight: 1200;
    font-weight: bolder;
    border: 10px solid rgb(255, 142, 161)
}

footer:hover {
    background-color: rgb(252, 131, 131);
}

.ancho {
    text-align: center;
}